@import "~bootstrap/scss/bootstrap.scss";


 .topPole{
    background-color: black;
    width: 20px;
    height: 150px;
    margin: auto;

 }
.trafficContainer{
    background-color: black;
    width: 160px;
    height: 320px;
    margin: auto;
    padding: 7px;
    border-radius: 10px;

}
.light{
   width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    &.red{background-color: #990000; opacity: 0.5;}
    &.yellow{background-color: #CC6600; opacity: 0.5;}
    &.green{background-color: #009933; opacity: 0.5;}
    &.selected{box-shadow: #f8ffcc 0px 0px 50px 20px; opacity: 1;}
    &.expanded { 
        transform: scale(1.1);
        border: white 1px solid;
    }
}